@model CouponDto

<div>
    <p><strong>Coupon Code:</strong> @Model.CouponCode</p>
    <p><strong>Discount:</strong> @Model.DiscountAmount</p>
    <p><strong>Minimum Amount:</strong> @Model.MinAmount</p>
</div>